<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
		<h1>Listado de Pedidos</h1>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a class="btn btn-success me-md-2" th:href="@{/views/productos/crearPedido}">+</a>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">id</th>
					<th scope="col">Fecha</th>
					<th scope="col">Usuario</th>
					<th colspan="3" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pd:${pedidos}">
					<th scope="row" th:text="${pd.id}"></th>
					<td th:text="${pd.fecha}"></td>
					<td th:text="${pd.usuario.nombre}"></td>
					<td width="10px"><a href="#" class="btn btn-warning btn-sm">Editar</a></td>
					<td width="10px">
		                <form action="#" method="post">
		         
		               		 <button type="submit" class="btn btn-danger btn-sm"onclick="return confirm('¿Quieres eliminar?')"> Borrar</button>
		                </form>
		             </td>
		       </tr>

			</tbody>
		</table>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>